# Fixed bz map files being detected as "Logtalk"
*.lgt linguist-vendored=true
References/** linguist-vendored=true

# Bzns require CRLF line endings or they can silently break the game
*.bzn binary
